body {
    font-family: Arial;
    background: #f4f6f9;
}

/* cartes plus clean */
.card {
    border-radius: 12px;
}

/* zone graphique grande */
.chart-container {
    height: 420px;
    padding: 10px;
}

/* toolbar en overlay (coins) */
.chart-card {
    position: relative;
}

/* boutons dans les coins */
.chart-toolbar {
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 10;
    pointer-events: none;
}

.chart-toolbar button {
    pointer-events: auto;
    margin-left: 5px;
}

/* sensor chips */
#sensorBox1, #sensorBox2 {
    padding: 5px;
}

.form-check-inline {
    background: #fff;
    border-radius: 8px;
    padding: 4px 8px;
    margin: 2px;
    border: 1px solid #ddd;
}